In [1]:
import pandas as pd
import numpy as np
import PyPDF2

In [2]:
pdffileobj=open('1.pdf','rb')
pdfreader=PyPDF2.PdfReader(pdffileobj)
x=len(pdfreader.pages)
pageobj=pdfreader.pages[1]
text=pageobj.extract_text()

file1=open(r"1.txt","a")
file1.writelines(text)
file1.close()
pdffileobj.close()

In [3]:
pdffileobj=open('2.pdf','rb')
pdfreader=PyPDF2.PdfReader(pdffileobj)
x=len(pdfreader.pages)
pageobj=pdfreader.pages[1]
text=pageobj.extract_text()

file1=open(r"2.txt","a")
file1.writelines(text)
file1.close()
pdffileobj.close()

In [4]:
myfile = open("1.txt", "rt") # open lorem.txt for reading text
contents = myfile.read()         # read the entire file to string
myfile.close()                   # close the file
print(contents)                  # print string contents

NR WR SR ER NER TOTAL
60076 56419 38685 22152 2824 180156
587 0 0 476 0 1063
1472 1410 1018 535 51 4486
267 38 69 80 29 483
39 146 142 - - 326
112.35 51.87 135.74 5.35 0.43 306
27.75 0.00 0.00 5.34 0.32 33.41
67705 61505 47398 23754 2879 194681
22:15 14:51 14:58 23:49 19:23 14:51
Region FVI < 49.7 49.7 - 49.8 49.8 - 49.9 < 49.9 49.9 - 50.05 > 50.05
All India 0.048 0.00 0.89 12.66 13.55 74.56 11.89
Max.Demand Shortage during Energy Met Drawal OD(+)/UD(-) Max OD Energy
Region States Met during the
day(MW)maximum
Demand(MW)(MU)Schedule
(MU)(MU) (MW)Shortage
(MU)
Punjab 9469 0 208.7 94.8 -0.7 223 0.00
Haryana 8597 0 191.3 121.1 1.1 258 0.00
Rajasthan 14834 0 300.0 108.4 4.5 472 14.67
Delhi 6576 0 125.8 114.4 -0.8 242 0.00
NR UP 24760 0 509.6 251.3 0.8 670 10.34
Uttarakhand 2180 0 47.0 25.6 0.9 171 0.81
HP 1507 0 39.6 6.2 1.2 466 0.00
J&K(UT) & Ladakh(UT) 1939 0 44.4 24.5 0.9 167 1.93
Chandigarh 310 0 6.0 6.5 -0.5 25 0.00
Chhattisgarh 4501 0 106.0 54.3 0.0 223 0.00
Gujarat 19132 0 424.6 189.5 -3.5 1002 0.00
MP 11479 0 259.0 135.3 0.0 338 0.00
WR Maharashtra 24991 0 564.5 168.9 -3.8 659 0.00
Goa 633 0 14.0 12.9 0.6 64 0.00
DNHDDPDCL 1187 0 27.1 26.9 0.2 79 0.00
AMNSIL 644 0 14.4 9.8 -0.8 207 0.00
Andhra Pradesh 11371 0 225.0 92.1 -0.4 668 0.00
Telangana 9086 0 180.3 59.9 0.8 665 0.00
SR Karnataka 9724 0 193.0 20.7 -1.9 552 0.00
Kerala 3632 0 74.5 48.3 0.0 217 0.00
Tamil Nadu 15430 0 336.2 166.1 -2.5 343 0.00
Puducherry 402 0 9.0 9.1 -0.2 53 0.00
Bihar 6153 51 123.3 118.9 -1.6 400 2.22
DVC 3439 0 76.2 -35.9 -0.5 264 0.00
Jharkhand 1468 0 31.3 24.4 0.3 338 3.12
ER Odisha 5691 0 126.0 69.2 0.5 538 0.00
West Bengal 8804 0 177.2 53.3 0.0 428 0.00
Sikkim 68 0 1.1 1.2 -0.1 34 0.00
Arunachal Pradesh 135 0 2.4 2.7 -0.6 11 0.00
Assam 1865 0 32.7 25.9 0.2 99 0.00
Manipur 176 0 2.5 2.5 0.0 18 0.00
NER Meghalaya 300 0 5.2 1.0 0.3 35 0.32
Mizoram 94 0 1.8 1.7 0.0 7 0.00
Nagaland 127 0 2.5 2.4 -0.1 10 0.00
Tripura 255 0 3.9 3.8 -0.2 42 0.00
Bhutan Nepal Bangladesh
15.7 3.2 -25.5
892.0 166.6 -1093.0
NR WR SR ER NER TOTAL
283.8 -193.1 -4.3 -80.7 -5.7 0.0
285.5 -188.7 -14.5 -74.4 -11.2 -3.3
1.8 4.4 -10.2 6.4 -5.6 -3.3
NR WR SR ER NER TOTAL % Share
3417 13266 6598 2270 668 26219 46
9825 10599 7261 2990 118 30792 54
13242 23864 13859 5260 787 57011 100
NR WR SR ER NER All India % Share
724 1351 574 565 16 3230 69
17 14 58 0 0 89 2
267 38 69 80 29 483 10
20 25 63 0 0 108 2
21 3 8 0 23 56 1
164 198 326 5 0 694 15
1214 1628 1100 650 68 4660 100
13.53 12.15 29.67 0.82 0.63 14.89
37.22 16.01 41.68 13.07 43.23 27.59
1.044
1.084 Based on State Max Demands
Diversity factor = Sum of regional or state maximum demands / All India maximum demand
*Source: RLDCs for solar connected to ISTS; SLDCs for embedded solar. Limited visibility of embedded solar data.
Executive Director-NLDCShare of RES in total generation (%)
Share of Non-fossil fuel (Hydro,Nuclear and RES) in total generation(%)
H. All India Demand Diversity Factor
Based on Regional Max DemandsLignite
Hydro
Nuclear
Gas, Naptha & Diesel
RES (Wind, Solar, Biomass & Others)
TotalState Sector
Total
G. Sourcewise generation (MU)
CoalActual(MU)
O/D/U/D(MU)
F. Generation Outage(MW)
Central SectorDay Peak (MW)
E. Import/Export by Regions (in MU) - Import(+ve)/Export(-ve); OD(+)/UD(-)
Schedule(MU)D. Transnational Exchanges (MU) - Import(+ve)/Export(-ve)
Actual (MU)Energy Shortage (MU)
Maximum Demand Met During the Day (MW) (From NLDC SCADA)
Time Of Maximum Demand Met (From NLDC SCADA)
B. Frequency Profile (%)
C. Power Supply Position in StatesDemand Met during Evening Peak hrs(MW) (at 20:00 hrs; from RLDCs)
Peak Shortage (MW)
Energy Met (MU)
Hydro Gen (MU)
Wind Gen (MU)
Solar Gen (MU)*Report for previous day Date of Reporting: 06-Jun-2022
A. Power Supply Position at All India and Regional level

In [5]:
if "Delhi" in contents:
    x = contents.index("Delhi")
    print(x)

692

In [6]:
x

692

In [7]:
stri = ""
s = []
sd = ""
while stri != "\n" and x<len(contents):
    if stri == " ":
        s.append(sd)
        sd = contents[x]
    else:
        sd = sd + contents[x]
    stri = contents[x]
    x = x+1
sd = sd[:4]
s.append(sd)

In [8]:
s

['Delhi ', '6576 ', '0 ', '125.8 ', '114.4 ', '-0.8 ', '242 ', '0.00']

In [9]:
import os

In [26]:
folder_path = "test/"
output_path = "processed/"
files = os.listdir(folder_path)

# First Convert to TXT

In [27]:
def pdf_conversion(file):
    org_path = folder_path+file
    processed_path = output_path+file[0:8]+".txt"
    pdffileobj=open(org_path,'rb')
    pdfreader=PyPDF2.PdfReader(pdffileobj)
    x=len(pdfreader.pages)
    pageobj=pdfreader.pages[1]
    text=pageobj.extract_text()
    # Make a Txt File
    file1=open(processed_path,"a")
    file1.writelines(text)
    file1.close()
    pdffileobj.close()

In [28]:
for file in files:
    pdf_conversion(file)

# Extract Info from the files

In [36]:
def extract_info(file):
    file_path = output_path+file
    myfile = open(file_path, "rt") 
    contents = myfile.read()       
    myfile.close()                 
    if "Delhi" in contents:
        x = contents.index("Delhi")
    print(x)
    stri = ""
    s = []
    s.append(file[0:8])
    sd = ""
    while stri != "\n" and x<len(contents):
        if stri == " ":
            s.append(sd)
            sd = contents[x]
        else:
            sd = sd + contents[x]
        stri = contents[x]
        x = x+1
    sd = sd[:4]
    s.append(sd)
    return s

In [37]:
processed_files = os.listdir(output_path)

In [38]:
data = []
for file in processed_files:
    data.append(extract_info(file))

570
678
675
681
680
681
683
678
683
677
680
677
683
677
679
680
680
680
677
687
678
680
678
683
679
613
682
678
677
678
676

In [39]:
len(data)

31

In [42]:
df = pd.DataFrame(data)

In [43]:
df

           0       1      2   3      4      5      6     7     8
0   07.01.22  Delhi   4559   0   72.0   62.1   -2.8   293   0.00
1   13.01.22  Delhi   4577   0   75.3   63.0   -0.4   326   0.01
2   26.01.22  Delhi   4187   0   69.2   57.1   -0.4   274   0.05
3   20.01.22  Delhi   4788   0   77.7   66.1   -0.7   274   0.00
4   01.01.22  Delhi   4470   0   70.5   58.7   -0.6   206   0.00
5   15.01.22  Delhi   4045   0   66.9   56.4   -2.0   192   0.00
6   18.01.22  Delhi   4898   0   79.8   67.0    0.3   262   0.00
7   12.01.22  Delhi   4615   0   73.1   63.0   -2.3   389   0.00
8   06.01.22  Delhi   4269   0   71.2   60.7   -2.2   276   0.00
9   27.01.22  Delhi   4708   0   75.8   64.4   -1.1   265   0.00
10  21.01.22  Delhi   5040   0   79.1   67.3   -0.4   266   0.05
11  14.01.22  Delhi   5087   0   79.5   67.0   -0.2   299   0.02
12  19.01.22  Delhi   4950   0   79.6   68.0   -0.3   285   0.00
13  30.01.22  Delhi   4341   0   68.6   57.2   -1.3   207   0.00
14  24.01.22  Delhi   4828   0   78.1   66.1   -0.4   343   0.00
15  05.01.22  Delhi   4322   0   73.4   60.4   -1.3   332   0.00
16  11.01.22  Delhi   4505   0   73.6   62.2   -0.9   220   0.00
17  29.01.22  Delhi   4330   0   71.8   60.0   -0.9   210   0.00
18  08.01.22  Delhi   3345   0   58.0   48.5   -2.5   176   0.01
19  03.01.22  Delhi   4467   0   71.8   60.0   -0.6   239   0.00
20  17.01.22  Delhi   4823   0   78.0   66.3   -0.6   353   0.00
21  22.01.22  Delhi   3912   0   67.6   55.4    0.0   317   0.00
22  25.01.22  Delhi   4918   0   80.7   69.0   -0.2   284   0.00
23  31.01.22  Delhi   4489   0   71.6   61.8   -3.0   390   0.00
24  10.01.22  Delhi   4573   0   72.4   60.2   -0.5   250   0.00
25  04.01.22  Delhi   4441   0   70.0   60.6   -2.0   333   0.00
26  28.01.22  Delhi   4997   0   78.4   66.9   -1.0   287   0.00
27  09.01.22  Delhi   3760   0   59.9   49.2   -1.3   194   0.02
28  16.01.22  Delhi   4125   0   66.4   55.1   -0.9   213   0.00
29  02.01.22  Delhi   4034   0   66.3   55.0   -1.2   187   0.00
30  23.01.22  Delhi   4151   0   67.0   55.3   -0.7   253   0.00

In [60]:
df

           0       1      2   3      4      5      6     7     8        time
0   07.01.22  Delhi   4559   0   72.0   62.1   -2.8   293   0.00  2022-07-01
1   13.01.22  Delhi   4577   0   75.3   63.0   -0.4   326   0.01  2022-01-13
2   26.01.22  Delhi   4187   0   69.2   57.1   -0.4   274   0.05  2022-01-26
3   20.01.22  Delhi   4788   0   77.7   66.1   -0.7   274   0.00  2022-01-20
4   01.01.22  Delhi   4470   0   70.5   58.7   -0.6   206   0.00  2022-01-01
5   15.01.22  Delhi   4045   0   66.9   56.4   -2.0   192   0.00  2022-01-15
6   18.01.22  Delhi   4898   0   79.8   67.0    0.3   262   0.00  2022-01-18
7   12.01.22  Delhi   4615   0   73.1   63.0   -2.3   389   0.00  2022-12-01
8   06.01.22  Delhi   4269   0   71.2   60.7   -2.2   276   0.00  2022-06-01
9   27.01.22  Delhi   4708   0   75.8   64.4   -1.1   265   0.00  2022-01-27
10  21.01.22  Delhi   5040   0   79.1   67.3   -0.4   266   0.05  2022-01-21
11  14.01.22  Delhi   5087   0   79.5   67.0   -0.2   299   0.02  2022-01-14
12  19.01.22  Delhi   4950   0   79.6   68.0   -0.3   285   0.00  2022-01-19
13  30.01.22  Delhi   4341   0   68.6   57.2   -1.3   207   0.00  2022-01-30
14  24.01.22  Delhi   4828   0   78.1   66.1   -0.4   343   0.00  2022-01-24
15  05.01.22  Delhi   4322   0   73.4   60.4   -1.3   332   0.00  2022-05-01
16  11.01.22  Delhi   4505   0   73.6   62.2   -0.9   220   0.00  2022-11-01
17  29.01.22  Delhi   4330   0   71.8   60.0   -0.9   210   0.00  2022-01-29
18  08.01.22  Delhi   3345   0   58.0   48.5   -2.5   176   0.01  2022-08-01
19  03.01.22  Delhi   4467   0   71.8   60.0   -0.6   239   0.00  2022-03-01
20  17.01.22  Delhi   4823   0   78.0   66.3   -0.6   353   0.00  2022-01-17
21  22.01.22  Delhi   3912   0   67.6   55.4    0.0   317   0.00  2022-01-22
22  25.01.22  Delhi   4918   0   80.7   69.0   -0.2   284   0.00  2022-01-25
23  31.01.22  Delhi   4489   0   71.6   61.8   -3.0   390   0.00  2022-01-31
24  10.01.22  Delhi   4573   0   72.4   60.2   -0.5   250   0.00  2022-10-01
25  04.01.22  Delhi   4441   0   70.0   60.6   -2.0   333   0.00  2022-04-01
26  28.01.22  Delhi   4997   0   78.4   66.9   -1.0   287   0.00  2022-01-28
27  09.01.22  Delhi   3760   0   59.9   49.2   -1.3   194   0.02  2022-09-01
28  16.01.22  Delhi   4125   0   66.4   55.1   -0.9   213   0.00  2022-01-16
29  02.01.22  Delhi   4034   0   66.3   55.0   -1.2   187   0.00  2022-02-01
30  23.01.22  Delhi   4151   0   67.0   55.3   -0.7   253   0.00  2022-01-23

In [57]:
def conv_dates_series(df, col, old_date_format, new_date_format):
    df[col] = pd.to_datetime(df[col], format=old_date_format).dt.strftime(new_date_format)
    return df