In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv("../../../main/ndlc_psp_final.csv")

In [3]:
df

,Unnamed: 0,Date (DD/MM/YYYY),Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,0,1/4/13,2776,0.0,56.1,34.1,-0.7,158.0,NaN
1,1,2/4/13,3034,0.0,61.0,34.1,0.9,256.0,NaN
2,2,3/4/13,2991,0.0,62.1,33.1,-1.1,202.0,NaN
3,3,4/4/13,3125,0.0,62.0,37.7,-2.7,206.0,NaN
4,4,5/4/13,3160,0.0,63.0,42.0,-2.6,167.0,NaN
...,...,...,...,...,...,...,...,...,...
3635,3635,27/05/23,5051,0.0,97.4,92.2,-1.1,138.0,0.00
3636,3636,28/05/23,4780,0.0,98.0,93.4,-1.6,137.0,0.00
3637,3637,29/05/23,4782,0.0,99.0,97.6,-3.8,175.0,0.27
3638,3638,30/05/23,4871,0.0,97.7,94.6,-3.0,128.0,0.00
3639,3639,31/05/23,4462,0.0,92.4,89.1,-2.9,53.0,0.00

In [4]:
df.dtypes

Unnamed: 0                               int64
Date (DD/MM/YYYY)                       object
Max.Demand met during the day (MW)       int64
Shortage during maximum Demand (MW)    float64
Energy Met (MU)                        float64
Drawal Schedule\n(MU)                  float64
OD(+)/UD(-) (MU)                       float64
Max OD (MW)                            float64
Energy Shortage (MU)                   float64
dtype: object

In [5]:
cols = df.columns
for i in cols:
    print(i,'-------------------',df[i].isnull().sum())

Unnamed: 0 ------------------- 0
Date (DD/MM/YYYY) ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 2
Energy Shortage (MU) ------------------- 1456

In [6]:
df = df.dropna(subset=['Max OD (MW)'])

In [7]:
def regression_imputation(dataframe, variable):
    
    # Create a copy of the DataFrame
    df_copy = dataframe.copy()
    df_copy = df_copy.drop(["Date (DD/MM/YYYY)","Unnamed: 0"],axis=1)
    train_data = df_copy[df_copy[variable].notnull()]
    
    # Create a DataFrame with missing values for the target variable
    test_data = df_copy[df_copy[variable].isnull()]
    
    # Separate features and target variables for training and testing data
    X_train = train_data.drop(variable, axis=1)
    y_train = train_data[variable]
    X_test = test_data.drop(variable, axis=1)
    
    # Build a linear regression model
    regression_model = LinearRegression()
    
    # Fit the model on the training data
    regression_model.fit(X_train, y_train)
    
    # Predict missing values based on the model
    imputed_values = regression_model.predict(X_test)
    
    # Assign the predicted values to the missing values in the DataFrame
    dataframe.loc[dataframe[variable].isnull(), variable] = imputed_values

In [8]:
regression_imputation(df, "Energy Shortage (MU)")

In [9]:
df

,Unnamed: 0,Date (DD/MM/YYYY),Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,0,1/4/13,2776,0.0,56.1,34.1,-0.7,158.0,0.011897
1,1,2/4/13,3034,0.0,61.0,34.1,0.9,256.0,0.024055
2,2,3/4/13,2991,0.0,62.1,33.1,-1.1,202.0,0.029888
3,3,4/4/13,3125,0.0,62.0,37.7,-2.7,206.0,0.023740
4,4,5/4/13,3160,0.0,63.0,42.0,-2.6,167.0,0.017075
...,...,...,...,...,...,...,...,...,...
3635,3635,27/05/23,5051,0.0,97.4,92.2,-1.1,138.0,0.000000
3636,3636,28/05/23,4780,0.0,98.0,93.4,-1.6,137.0,0.000000
3637,3637,29/05/23,4782,0.0,99.0,97.6,-3.8,175.0,0.270000
3638,3638,30/05/23,4871,0.0,97.7,94.6,-3.0,128.0,0.000000
3639,3639,31/05/23,4462,0.0,92.4,89.1,-2.9,53.0,0.000000

In [10]:
df.to_csv("../../../main/sub_data/ndlc_psp_ES_regr.csv")