In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

In [2]:
df = pd.read_csv("../../../main/ndlc_psp_final1.csv")

In [3]:
df

,Unnamed: 0.1,Unnamed: 0,Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,2013-04-01,0.0,2776.0,0.0,56.1,34.1,-0.7,158.0,NaN
1,2013-04-02,1.0,3034.0,0.0,61.0,34.1,0.9,256.0,NaN
2,2013-04-03,2.0,2991.0,0.0,62.1,33.1,-1.1,202.0,NaN
3,2013-04-04,3.0,3125.0,0.0,62.0,37.7,-2.7,206.0,NaN
4,2013-04-05,4.0,3160.0,0.0,63.0,42.0,-2.6,167.0,NaN
...,...,...,...,...,...,...,...,...,...
3708,2023-05-27,3635.0,5051.0,0.0,97.4,92.2,-1.1,138.0,0.00
3709,2023-05-28,3636.0,4780.0,0.0,98.0,93.4,-1.6,137.0,0.00
3710,2023-05-29,3637.0,4782.0,0.0,99.0,97.6,-3.8,175.0,0.27
3711,2023-05-30,3638.0,4871.0,0.0,97.7,94.6,-3.0,128.0,0.00
3712,2023-05-31,3639.0,4462.0,0.0,92.4,89.1,-2.9,53.0,0.00

In [4]:
df.columns = ['Date (DD/MM/YYYY)', 'Unnamed: 0', 'Max.Demand met during the day (MW)',
       'Shortage during maximum Demand (MW)', 'Energy Met (MU)',
       'Drawal Schedule\n(MU)', 'OD(+)/UD(-) (MU)', 'Max OD (MW)',
       'Energy Shortage (MU)']

In [5]:
df = df.dropna(subset=['Max OD (MW)'])
df['Date (DD/MM/YYYY)'] = pd.to_datetime(df['Date (DD/MM/YYYY)'])

/var/folders/l2/_mks1sd56yjdxq9514qt1fnh0000gn/T/ipykernel_2120/4064216809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date (DD/MM/YYYY)'] = pd.to_datetime(df['Date (DD/MM/YYYY)'])

In [6]:
# Convert dates to numerical representation (elapsed time in days)
df['Date (DD/MM/YYYY)'] = (df['Date (DD/MM/YYYY)'] - pd.to_datetime('2000-01-01')).dt.days

/var/folders/l2/_mks1sd56yjdxq9514qt1fnh0000gn/T/ipykernel_2120/2243123337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date (DD/MM/YYYY)'] = (df['Date (DD/MM/YYYY)'] - pd.to_datetime('2000-01-01')).dt.days

In [7]:
df

,Date (DD/MM/YYYY),Unnamed: 0,Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,4839,0.0,2776.0,0.0,56.1,34.1,-0.7,158.0,NaN
1,4840,1.0,3034.0,0.0,61.0,34.1,0.9,256.0,NaN
2,4841,2.0,2991.0,0.0,62.1,33.1,-1.1,202.0,NaN
3,4842,3.0,3125.0,0.0,62.0,37.7,-2.7,206.0,NaN
4,4843,4.0,3160.0,0.0,63.0,42.0,-2.6,167.0,NaN
...,...,...,...,...,...,...,...,...,...
3708,8547,3635.0,5051.0,0.0,97.4,92.2,-1.1,138.0,0.00
3709,8548,3636.0,4780.0,0.0,98.0,93.4,-1.6,137.0,0.00
3710,8549,3637.0,4782.0,0.0,99.0,97.6,-3.8,175.0,0.27
3711,8550,3638.0,4871.0,0.0,97.7,94.6,-3.0,128.0,0.00
3712,8551,3639.0,4462.0,0.0,92.4,89.1,-2.9,53.0,0.00

In [8]:
df.dtypes

Date (DD/MM/YYYY)                        int64
Unnamed: 0                             float64
Max.Demand met during the day (MW)     float64
Shortage during maximum Demand (MW)    float64
Energy Met (MU)                        float64
Drawal Schedule\n(MU)                  float64
OD(+)/UD(-) (MU)                       float64
Max OD (MW)                            float64
Energy Shortage (MU)                   float64
dtype: object

In [9]:
cols = df.columns
for i in cols:
    print(i,'-------------------',df[i].isnull().sum())

Date (DD/MM/YYYY) ------------------- 0
Unnamed: 0 ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 0
Energy Shortage (MU) ------------------- 1456

In [10]:
imputer = KNNImputer(n_neighbors=3) 
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

In [11]:
df_imputed

,Date (DD/MM/YYYY),Unnamed: 0,Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,4839.0,0.0,2776.0,0.0,56.1,34.1,-0.7,158.0,0.00
1,4840.0,1.0,3034.0,0.0,61.0,34.1,0.9,256.0,0.00
2,4841.0,2.0,2991.0,0.0,62.1,33.1,-1.1,202.0,0.00
3,4842.0,3.0,3125.0,0.0,62.0,37.7,-2.7,206.0,0.00
4,4843.0,4.0,3160.0,0.0,63.0,42.0,-2.6,167.0,0.00
...,...,...,...,...,...,...,...,...,...
3633,8547.0,3635.0,5051.0,0.0,97.4,92.2,-1.1,138.0,0.00
3634,8548.0,3636.0,4780.0,0.0,98.0,93.4,-1.6,137.0,0.00
3635,8549.0,3637.0,4782.0,0.0,99.0,97.6,-3.8,175.0,0.27
3636,8550.0,3638.0,4871.0,0.0,97.7,94.6,-3.0,128.0,0.00
3637,8551.0,3639.0,4462.0,0.0,92.4,89.1,-2.9,53.0,0.00

In [12]:
df_imputed['Date (DD/MM/YYYY)'] = pd.to_datetime('2000-01-01') + pd.to_timedelta(df_imputed['Date (DD/MM/YYYY)'], unit='D')

In [13]:
df_imputed

,Date (DD/MM/YYYY),Unnamed: 0,Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,2013-04-01,0.0,2776.0,0.0,56.1,34.1,-0.7,158.0,0.00
1,2013-04-02,1.0,3034.0,0.0,61.0,34.1,0.9,256.0,0.00
2,2013-04-03,2.0,2991.0,0.0,62.1,33.1,-1.1,202.0,0.00
3,2013-04-04,3.0,3125.0,0.0,62.0,37.7,-2.7,206.0,0.00
4,2013-04-05,4.0,3160.0,0.0,63.0,42.0,-2.6,167.0,0.00
...,...,...,...,...,...,...,...,...,...
3633,2023-05-27,3635.0,5051.0,0.0,97.4,92.2,-1.1,138.0,0.00
3634,2023-05-28,3636.0,4780.0,0.0,98.0,93.4,-1.6,137.0,0.00
3635,2023-05-29,3637.0,4782.0,0.0,99.0,97.6,-3.8,175.0,0.27
3636,2023-05-30,3638.0,4871.0,0.0,97.7,94.6,-3.0,128.0,0.00
3637,2023-05-31,3639.0,4462.0,0.0,92.4,89.1,-2.9,53.0,0.00

In [14]:
cols = df.columns
for i in cols:
    print(i,'-------------------',df_imputed[i].isnull().sum())

Date (DD/MM/YYYY) ------------------- 0
Unnamed: 0 ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 0
Energy Shortage (MU) ------------------- 0

In [15]:
df_imputed

,Date (DD/MM/YYYY),Unnamed: 0,Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,2013-04-01,0.0,2776.0,0.0,56.1,34.1,-0.7,158.0,0.00
1,2013-04-02,1.0,3034.0,0.0,61.0,34.1,0.9,256.0,0.00
2,2013-04-03,2.0,2991.0,0.0,62.1,33.1,-1.1,202.0,0.00
3,2013-04-04,3.0,3125.0,0.0,62.0,37.7,-2.7,206.0,0.00
4,2013-04-05,4.0,3160.0,0.0,63.0,42.0,-2.6,167.0,0.00
...,...,...,...,...,...,...,...,...,...
3633,2023-05-27,3635.0,5051.0,0.0,97.4,92.2,-1.1,138.0,0.00
3634,2023-05-28,3636.0,4780.0,0.0,98.0,93.4,-1.6,137.0,0.00
3635,2023-05-29,3637.0,4782.0,0.0,99.0,97.6,-3.8,175.0,0.27
3636,2023-05-30,3638.0,4871.0,0.0,97.7,94.6,-3.0,128.0,0.00
3637,2023-05-31,3639.0,4462.0,0.0,92.4,89.1,-2.9,53.0,0.00

In [16]:
df_imputed.to_csv("../../../main/sub_data/multi_variant/ndlc_psp_ES_KNN.csv")