In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

In [2]:
df = pd.read_csv("../main/ndlc_psp_final.csv")

In [3]:
df

,Unnamed: 0,Date (DD/MM/YYYY),Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,0,1/4/13,2776,0.0,56.1,34.1,-0.7,158.0,NaN
1,1,2/4/13,3034,0.0,61.0,34.1,0.9,256.0,NaN
2,2,3/4/13,2991,0.0,62.1,33.1,-1.1,202.0,NaN
3,3,4/4/13,3125,0.0,62.0,37.7,-2.7,206.0,NaN
4,4,5/4/13,3160,0.0,63.0,42.0,-2.6,167.0,NaN
...,...,...,...,...,...,...,...,...,...
3635,3635,27/05/23,5051,0.0,97.4,92.2,-1.1,138.0,0.00
3636,3636,28/05/23,4780,0.0,98.0,93.4,-1.6,137.0,0.00
3637,3637,29/05/23,4782,0.0,99.0,97.6,-3.8,175.0,0.27
3638,3638,30/05/23,4871,0.0,97.7,94.6,-3.0,128.0,0.00
3639,3639,31/05/23,4462,0.0,92.4,89.1,-2.9,53.0,0.00

In [4]:
df = df.dropna(subset=['Max OD (MW)'])
df['Date (DD/MM/YYYY)'] = pd.to_datetime(df['Date (DD/MM/YYYY)'])

/var/folders/l2/_mks1sd56yjdxq9514qt1fnh0000gn/T/ipykernel_3529/4064216809.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date (DD/MM/YYYY)'] = pd.to_datetime(df['Date (DD/MM/YYYY)'])
/var/folders/l2/_mks1sd56yjdxq9514qt1fnh0000gn/T/ipykernel_3529/4064216809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date (DD/MM/YYYY)'] = pd.to_datetime(df['Date (DD/MM/YYYY)'])

In [5]:
# Convert dates to numerical representation (elapsed time in days)
df['Date (DD/MM/YYYY)'] = (df['Date (DD/MM/YYYY)'] - pd.to_datetime('2000-01-01')).dt.days

/var/folders/l2/_mks1sd56yjdxq9514qt1fnh0000gn/T/ipykernel_3529/2243123337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date (DD/MM/YYYY)'] = (df['Date (DD/MM/YYYY)'] - pd.to_datetime('2000-01-01')).dt.days

In [6]:
df

,Unnamed: 0,Date (DD/MM/YYYY),Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,0,4752,2776,0.0,56.1,34.1,-0.7,158.0,NaN
1,1,4783,3034,0.0,61.0,34.1,0.9,256.0,NaN
2,2,4811,2991,0.0,62.1,33.1,-1.1,202.0,NaN
3,3,4842,3125,0.0,62.0,37.7,-2.7,206.0,NaN
4,4,4872,3160,0.0,63.0,42.0,-2.6,167.0,NaN
...,...,...,...,...,...,...,...,...,...
3635,3635,8547,5051,0.0,97.4,92.2,-1.1,138.0,0.00
3636,3636,8548,4780,0.0,98.0,93.4,-1.6,137.0,0.00
3637,3637,8549,4782,0.0,99.0,97.6,-3.8,175.0,0.27
3638,3638,8550,4871,0.0,97.7,94.6,-3.0,128.0,0.00
3639,3639,8551,4462,0.0,92.4,89.1,-2.9,53.0,0.00

In [7]:
df.dtypes

Unnamed: 0                               int64
Date (DD/MM/YYYY)                        int64
Max.Demand met during the day (MW)       int64
Shortage during maximum Demand (MW)    float64
Energy Met (MU)                        float64
Drawal Schedule\n(MU)                  float64
OD(+)/UD(-) (MU)                       float64
Max OD (MW)                            float64
Energy Shortage (MU)                   float64
dtype: object

In [8]:
cols = df.columns
for i in cols:
    print(i,'-------------------',df[i].isnull().sum())

Unnamed: 0 ------------------- 0
Date (DD/MM/YYYY) ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 0
Energy Shortage (MU) ------------------- 1456

In [9]:
imputer = KNNImputer(n_neighbors=3) 
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

In [10]:
df_imputed

,Unnamed: 0,Date (DD/MM/YYYY),Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,0.0,4752.0,2776.0,0.0,56.1,34.1,-0.7,158.0,0.000000
1,1.0,4783.0,3034.0,0.0,61.0,34.1,0.9,256.0,0.000000
2,2.0,4811.0,2991.0,0.0,62.1,33.1,-1.1,202.0,0.000000
3,3.0,4842.0,3125.0,0.0,62.0,37.7,-2.7,206.0,0.000000
4,4.0,4872.0,3160.0,0.0,63.0,42.0,-2.6,167.0,0.033333
...,...,...,...,...,...,...,...,...,...
3633,3635.0,8547.0,5051.0,0.0,97.4,92.2,-1.1,138.0,0.000000
3634,3636.0,8548.0,4780.0,0.0,98.0,93.4,-1.6,137.0,0.000000
3635,3637.0,8549.0,4782.0,0.0,99.0,97.6,-3.8,175.0,0.270000
3636,3638.0,8550.0,4871.0,0.0,97.7,94.6,-3.0,128.0,0.000000
3637,3639.0,8551.0,4462.0,0.0,92.4,89.1,-2.9,53.0,0.000000

In [11]:
df_imputed['Date (DD/MM/YYYY)'] = pd.to_datetime('2000-01-01') + pd.to_timedelta(df_imputed['Date (DD/MM/YYYY)'], unit='D')

In [12]:
df_imputed

,Unnamed: 0,Date (DD/MM/YYYY),Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,0.0,2013-01-04,2776.0,0.0,56.1,34.1,-0.7,158.0,0.000000
1,1.0,2013-02-04,3034.0,0.0,61.0,34.1,0.9,256.0,0.000000
2,2.0,2013-03-04,2991.0,0.0,62.1,33.1,-1.1,202.0,0.000000
3,3.0,2013-04-04,3125.0,0.0,62.0,37.7,-2.7,206.0,0.000000
4,4.0,2013-05-04,3160.0,0.0,63.0,42.0,-2.6,167.0,0.033333
...,...,...,...,...,...,...,...,...,...
3633,3635.0,2023-05-27,5051.0,0.0,97.4,92.2,-1.1,138.0,0.000000
3634,3636.0,2023-05-28,4780.0,0.0,98.0,93.4,-1.6,137.0,0.000000
3635,3637.0,2023-05-29,4782.0,0.0,99.0,97.6,-3.8,175.0,0.270000
3636,3638.0,2023-05-30,4871.0,0.0,97.7,94.6,-3.0,128.0,0.000000
3637,3639.0,2023-05-31,4462.0,0.0,92.4,89.1,-2.9,53.0,0.000000

In [13]:
cols = df.columns
for i in cols:
    print(i,'-------------------',df_imputed[i].isnull().sum())

Unnamed: 0 ------------------- 0
Date (DD/MM/YYYY) ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 0
Energy Shortage (MU) ------------------- 0

In [14]:
df_imputed.to_csv("../main/sub_data/ndlc_psp_ES_KNN.csv")