In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv("../main/ndlc_psp_final.csv")

In [3]:
df

,Unnamed: 0,Date (DD/MM/YYYY),Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,0,1/4/13,2776,0.0,56.1,34.1,-0.7,158.0,NaN
1,1,2/4/13,3034,0.0,61.0,34.1,0.9,256.0,NaN
2,2,3/4/13,2991,0.0,62.1,33.1,-1.1,202.0,NaN
3,3,4/4/13,3125,0.0,62.0,37.7,-2.7,206.0,NaN
4,4,5/4/13,3160,0.0,63.0,42.0,-2.6,167.0,NaN
...,...,...,...,...,...,...,...,...,...
3635,3635,27/05/23,5051,0.0,97.4,92.2,-1.1,138.0,0.00
3636,3636,28/05/23,4780,0.0,98.0,93.4,-1.6,137.0,0.00
3637,3637,29/05/23,4782,0.0,99.0,97.6,-3.8,175.0,0.27
3638,3638,30/05/23,4871,0.0,97.7,94.6,-3.0,128.0,0.00
3639,3639,31/05/23,4462,0.0,92.4,89.1,-2.9,53.0,0.00

In [4]:
df['Date (DD/MM/YYYY)'] = pd.to_datetime(df['Date (DD/MM/YYYY)'])

/var/folders/l2/_mks1sd56yjdxq9514qt1fnh0000gn/T/ipykernel_3417/1109921026.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date (DD/MM/YYYY)'] = pd.to_datetime(df['Date (DD/MM/YYYY)'])

In [5]:
df.dtypes

Unnamed: 0                                      int64
Date (DD/MM/YYYY)                      datetime64[ns]
Max.Demand met during the day (MW)              int64
Shortage during maximum Demand (MW)           float64
Energy Met (MU)                               float64
Drawal Schedule\n(MU)                         float64
OD(+)/UD(-) (MU)                              float64
Max OD (MW)                                   float64
Energy Shortage (MU)                          float64
dtype: object

In [6]:
cols = df.columns
for i in cols:
    print(i,'-------------------',df[i].isnull().sum())

Unnamed: 0 ------------------- 0
Date (DD/MM/YYYY) ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 2
Energy Shortage (MU) ------------------- 1456

In [7]:
df = df.dropna(subset=['Max OD (MW)'])

In [8]:
cols = df.columns
for i in cols:
    print(i,'-------------------',df[i].isnull().sum())

Unnamed: 0 ------------------- 0
Date (DD/MM/YYYY) ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 0
Energy Shortage (MU) ------------------- 1456

In [9]:
df_mean = df.fillna(df["Energy Shortage (MU)"].mean())
df_median = df.fillna(df["Energy Shortage (MU)"].median())
df_mode = df.fillna(df["Energy Shortage (MU)"].mode().iloc[0])

In [10]:
(df_mode == df_median).sum() == len(df)

Unnamed: 0                             True
Date (DD/MM/YYYY)                      True
Max.Demand met during the day (MW)     True
Shortage during maximum Demand (MW)    True
Energy Met (MU)                        True
Drawal Schedule\n(MU)                  True
OD(+)/UD(-) (MU)                       True
Max OD (MW)                            True
Energy Shortage (MU)                   True
dtype: bool

In [11]:
cols = df.columns
for i in cols:
    print(i,'-------------------',df_mean[i].isnull().sum())

print("\n=======================================================================================\n")
    
for i in cols:
    print(i,'-------------------',df_median[i].isnull().sum())

print("\n=======================================================================================\n")
    
for i in cols:
    print(i,'-------------------',df_mode[i].isnull().sum())

Unnamed: 0 ------------------- 0
Date (DD/MM/YYYY) ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 0
Energy Shortage (MU) ------------------- 0

=======================================================================================

Unnamed: 0 ------------------- 0
Date (DD/MM/YYYY) ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 0
Energy Shortage (MU) ------------------- 0

=======================================================================================

Unnamed: 0 ------------------- 0
Date (DD/MM/YYYY) ------------------- 0
Max.Demand met during the day (MW) ------------------- 0
Shortage during maximum Demand (MW) ------------------- 0
Energy Met (MU) ------------------- 0
Drawal Schedule
(MU) ------------------- 0
OD(+)/UD(-) (MU) ------------------- 0
Max OD (MW) ------------------- 0
Energy Shortage (MU) ------------------- 0

In [12]:
df_mean

,Unnamed: 0,Date (DD/MM/YYYY),Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,0,2013-01-04,2776,0.0,56.1,34.1,-0.7,158.0,0.020362
1,1,2013-02-04,3034,0.0,61.0,34.1,0.9,256.0,0.020362
2,2,2013-03-04,2991,0.0,62.1,33.1,-1.1,202.0,0.020362
3,3,2013-04-04,3125,0.0,62.0,37.7,-2.7,206.0,0.020362
4,4,2013-05-04,3160,0.0,63.0,42.0,-2.6,167.0,0.020362
...,...,...,...,...,...,...,...,...,...
3635,3635,2023-05-27,5051,0.0,97.4,92.2,-1.1,138.0,0.000000
3636,3636,2023-05-28,4780,0.0,98.0,93.4,-1.6,137.0,0.000000
3637,3637,2023-05-29,4782,0.0,99.0,97.6,-3.8,175.0,0.270000
3638,3638,2023-05-30,4871,0.0,97.7,94.6,-3.0,128.0,0.000000
3639,3639,2023-05-31,4462,0.0,92.4,89.1,-2.9,53.0,0.000000

In [13]:
df_median

,Unnamed: 0,Date (DD/MM/YYYY),Max.Demand met during the day (MW),Shortage during maximum Demand (MW),Energy Met (MU),Drawal Schedule\n(MU),OD(+)/UD(-) (MU),Max OD (MW),Energy Shortage (MU)
0,0,2013-01-04,2776,0.0,56.1,34.1,-0.7,158.0,0.00
1,1,2013-02-04,3034,0.0,61.0,34.1,0.9,256.0,0.00
2,2,2013-03-04,2991,0.0,62.1,33.1,-1.1,202.0,0.00
3,3,2013-04-04,3125,0.0,62.0,37.7,-2.7,206.0,0.00
4,4,2013-05-04,3160,0.0,63.0,42.0,-2.6,167.0,0.00
...,...,...,...,...,...,...,...,...,...
3635,3635,2023-05-27,5051,0.0,97.4,92.2,-1.1,138.0,0.00
3636,3636,2023-05-28,4780,0.0,98.0,93.4,-1.6,137.0,0.00
3637,3637,2023-05-29,4782,0.0,99.0,97.6,-3.8,175.0,0.27
3638,3638,2023-05-30,4871,0.0,97.7,94.6,-3.0,128.0,0.00
3639,3639,2023-05-31,4462,0.0,92.4,89.1,-2.9,53.0,0.00

In [14]:
df_mean.to_csv("../main/sub_data/ndlc_psp_ES_mean.csv")
df_median.to_csv("../main/sub_data/ndlc_psp_ES_median-mode.csv")